.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
.pagination__item {
    margin: 0 10px;
}
.pagination__link {
    text-decoration: none;
    color: black;
}
.pagination_dark {
    background: black;
    transition: background 0.5s;
}
.pagination_dark a {
    color: white;
    transition: color 1s;
}
.pagination_light {
    background: white;
    transition: background 0.5s;
}
.pagination_light a {
    color: black;
    transition: color 1s;
}