.filterpanel__filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.filterpanel__search {
    width: 180px;
    height: 30px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    outline: none;
    color: black;
}

.filterpanel__select{
    width: 70px;
    height: 35px;
    border: 2px solid #008CBA;
    border-radius: 5px;
    margin-left: 5px;
}

.filterpanel__button{
    width: 70px;
    height: 35px;
    border-radius: 8px;
    background-color: #008CBA;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .filterpanel__filter {
        flex-direction: column;
        margin-top: 15px;
    }
    
    .filterpanel__form {
        margin-top: 10px;
    }
}