.newslist {
    margin-top: 20px;
    border: 1px double #8080801c;
}
.newslist_dark {
    color: white;
    background: black;
}
.newslist_light {
    color: black;
    background: white;
}
.newslist__input{
    display: block;
    margin: 0 auto;
}