.app {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}

@media (max-width: 1366px) {
    .app{
        max-width: 900px;
    }
}

@media (max-width: 1024px) {
    .app{
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .app{
        max-width: 300px;
    }
}