.newslist {
    margin-top: 20px;
    border: 1px double #8080801c;
}
.newslist_dark {
    color: white;
    background: black;
    transition: background 0.5s, color 1s;
}
.newslist_light {
    color: black;
    background: white;
    transition: background 0.5s, color 1s;
}