.header {
    display: flex;
    justify-content: space-between;
}
.header__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
    margin: 0;
    padding: 0;
}
.header__items {
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.header__button {
    width: 70px;
    height: 35px;
    border-radius: 8px;
    background-color: #008CBA;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.header_dark {
    background: black;
    transition: background 0.5s;
}
.header_dark a {
    color: white;
    transition: color 1s;
}
.header_light {
    background: white;
    transition: background 0.5s;
}
.header_light a {
    color: black;
    transition: color 1s;
}